<!doctype html>
<html lang="cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录 - 西洋汇招聘管理后台</title>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <style>
        .login {
            width: 250px;
            margin: 100px auto;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="login">
        <div class="title text-center">
            <h4>欢迎登录</h4>
        </div>
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">账号</label>
                <input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}"
                       placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="pwd">密码</label>
                <input type="password" class="form-control" name="_password" id="pwd" placeholder="Your Password">
            </div>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <button type="submit" class="btn btn-block btn-primary" id="login-btn">登 录</button>
        </form>
    </div>
    <footer class="text-center">
        <p>Copyright@2018</p>
    </footer>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script>
    $(function () {
        $("#login-btn").click(function () {
            return;
            $.ajax({
                url: "{{ path('login') }}",
                type: "post",
                dataType: "json",
                data: {
                    username: $("#username").val(),
                    pwd: $("#pwd").val(),
                },
                success: function (res) {
                    console.log(res);
                },
                error: function () {

                }
            });
        })
    })
</script>
</html>