<!doctype html>
<html lang="cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>西洋汇招聘</title>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <style>
        .container-fluid {
            max-width: 1400px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">西洋汇招聘</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('index') }}">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin') }}">管理后台</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="alert alert-secondary my-3" role="alert">
        <p>你的到场时间：2018-04-22 13:30</p>
        <p>为了更科学地进行结构化考试，我们全过程采用无纸化面试，请按照以下指引填写完善你的资料。</p>
    </div>
    <form id="candidate-form">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="name">中文名：</label>
                    <input type="text" class="form-control" id="name" placeholder="必填" required>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="sex">性别：</label>
                    <select name="" id="sex" class="form-control" title="">
                        <option value="-">--</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="nation">民族：</label>
                    <input type="text" class="form-control" id="nation" placeholder="必填" required>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="birth_place">籍贯：</label>
                    <input type="text" class="form-control" id="birth_place" placeholder="必填" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="birthday">出生日期：</label>
                    <input type="date" class="form-control" id="birthday" placeholder="必填" required>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="phone">联系电话：</label>
                    <input type="tel" class="form-control" id="phone" placeholder="必填" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="address">详细地址：</label>
                    <input type="text" class="form-control" id="address" placeholder="必填" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label for="working_life">工作年限：</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="working_life" placeholder="全职工作年限" required>
                        <div class="input-group-append">
                            <span class="input-group-text">年</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="hunyin">婚姻状况：</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hunyin" value="未婚" id="hunyin-1">
                            <label class="form-check-label" for="hunyin-1">未婚</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hunyin" value="已婚" id="hunyin-2">
                            <label class="form-check-label" for="hunyin-2">已婚</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hunyin" value="离异" id="hunyin-3">
                            <label class="form-check-label" for="hunyin-3">离异</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hunyin" value="丧偶" id="hunyin-4">
                            <label class="form-check-label" for="hunyin-4">丧偶</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="shengyu">生育状况：</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="shengyu" value="未育" id="shengyu-1">
                            <label class="form-check-label" for="shengyu-1">未育</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="shengyu" value="在孕" id="shengyu-2">
                            <label class="form-check-label" for="shengyu-2">在孕</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="shengyu" value="已育" id="shengyu-3">
                            <label class="form-check-label" for="shengyu-3">已育</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="edu">
            <h3>
                教育经历
                <small class="text-muted">从最高起填写，可填至中学</small>
            </h3>
            <table class="table">
                <thead>
                <tr>
                    <th>教育时间</th>
                    <th>性质</th>
                    <th>学历</th>
                    <th>学校名称</th>
                    <th>专业</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-inline">
                            <input type="date" name="edu_start_time[]" class="form-control">
                            &nbsp;至&nbsp;
                            <input type="date" name="edu_end_time[]" class="form-control">
                        </div>
                    </td>
                    <td>
                        <select name="edu_property[]" class="form-control">
                            <option value="-">--</option>
                            <option value="全日制统招">全日制统招</option>
                            <option value="函授">函授</option>
                        </select>
                    </td>
                    <td>
                        <select name="edu_level[]" class="form-control">
                            <option value="-">--</option>
                            <option value="本科">本科</option>
                            <option value="高中">高中</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="edu_school_name[]" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="edu_major[]" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-inline">
                            <input type="date" name="edu_start_time[]" class="form-control">
                            &nbsp;至&nbsp;
                            <input type="date" name="edu_end_time[]" class="form-control">
                        </div>
                    </td>
                    <td>
                        <select name="edu_property[]" class="form-control">
                            <option value="-">--</option>
                            <option value="全日制统招">全日制统招</option>
                            <option value="函授">函授</option>
                        </select>
                    </td>
                    <td>
                        <select name="edu_level[]" class="form-control">
                            <option value="-">--</option>
                            <option value="本科">本科</option>
                            <option value="高中">高中</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="edu_school_name[]" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="edu_major[]" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-inline">
                            <input type="date" name="edu_start_time[]" class="form-control">
                            &nbsp;至&nbsp;
                            <input type="date" name="edu_end_time[]" class="form-control">
                        </div>
                    </td>
                    <td>
                        <select name="edu_property[]" class="form-control">
                            <option value="-">--</option>
                            <option value="全日制统招">全日制统招</option>
                            <option value="函授">函授</option>
                        </select>
                    </td>
                    <td>
                        <select name="edu_level[]" class="form-control">
                            <option value="-">--</option>
                            <option value="本科">本科</option>
                            <option value="高中">高中</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="edu_school_name[]" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="edu_major[]" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="job">
            <h3>
                工作/实习经历
                <small class="text-muted">从最近起填写</small>
            </h3>
            <table class="table">
                <thead>
                <tr>
                    <td>工作时间</td>
                    <td>性质</td>
                    <td>单位名称</td>
                    <td>部门职位</td>
                    <td>薪资范围</td>
                    <td>证明人及电话</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-inline">
                            <input type="date" name="job_start_time[]" class="form-control">
                            &nbsp;至&nbsp;
                            <input type="date" name="job_end_time[]" class="form-control">
                        </div>
                    </td>
                    <td>
                        <select name="job_category[]" class="form-control">
                            <option value="-"> -</option>
                            <option value="全职">全职</option>
                            <option value="实习">实习</option>
                            <option value="兼职">兼职</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="job_company[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="job_content[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="job_salary[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="job_reterence[]" id="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-inline">
                            <input type="date" name="job_start_time[]" class="form-control">
                            &nbsp;至&nbsp;
                            <input type="date" name="job_end_time[]" class="form-control">
                        </div>
                    </td>
                    <td>
                        <select name="job_category[]" id="" class="form-control">
                            <option value="-"> -</option>
                            <option value="全职">全职</option>
                            <option value="实习">实习</option>
                            <option value="兼职">兼职</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="job_company[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="job_content[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="job_salary[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="job_reterence[]" id="" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="family">
            <h3>家庭背景</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>关系</th>
                    <th>姓名</th>
                    <th>单位及职业</th>
                    <th>联系电话</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" name="family_relate[]" id="" class="form-control" placeholder="父母/丈夫/妻子">
                    </td>
                    <td>
                        <input type="text" name="family_name[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="family_company[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="family_phone[]" id="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="family_relate[]" id="" class="form-control" placeholder="父母/丈夫/妻子">
                    </td>
                    <td>
                        <input type="text" name="family_name[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="family_company[]" id="" class="form-control">
                    </td>
                    <td>
                        <input type="text" name="family_phone[]" id="" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="status">
            <h3>应聘情况</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="job_name">应聘职位：</label>
                        <select name="" id="job_name" class="form-control" title="" size="2">
                            <option value="PHP工程师">PHP工程师</option>
                            <option value="前端工程师">前端工程师</option>
                            <option value="全栈工程师">全栈工程师</option>
                            <option value="大数据分析">大数据分析</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="job_property">应聘性质：</label>
                        <select name="" id="job_property" class="form-control" title="">
                            <option value="全职">全职</option>
                            <option value="实习">实习</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="my_level">自我定位：</label>
                        <select name="" id="my_level" class="form-control" title="">
                            <option value="实习生">实习生</option>
                            <option value="初级工程师">初级工程师</option>
                            <option value="中级工程师">中级工程师</option>
                            <option value="高级工程师">高级工程师</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="salary_require">薪资要求：</label>
                        <input type="text" name="" id="salary_require" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="come_time">到岗时间：</label>
                        <select name="" id="come_time" class="form-control" title="">
                            <option value="随时">随时</option>
                            <option value="一至三个月">一至三个月</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="declare">
            <div class="card">
                <div class="card-header">
                    <h3>候选人声明</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="agree">
                        <label class="form-check-label" for="agree">
                            本人提供的一切个人信息/教育背景/工作经历/家庭背景等全部属实。
                        </label>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="submitting my-3 text-center">
            <button type="submit" class="btn btn-primary" id="submit-btn" disabled>提交</button>
        </div>
    </form>
    <footer class="text-center">
        <p>Copyright@2018</p>
    </footer>
</div>
</body>
<script src=""></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(function () {
        $("#agree").change(function () {
            if ($(this).prop('checked')) {
                $("#submit-btn").removeAttr('disabled')
            } else {
                $("#submit-btn").attr('disabled', 'disabled')
            }
        });
        // 提交表单
        $("#candidate-form").submit(function (event) {
            event.preventDefault();
            if ($("#name").val().length === 0) {
                return;
            }
            // 获取教育背景信息
            // 开始时间
            let edu_start_time = $("[name='edu_start_time[]']").map(function () {
                return this.value;
            }).get();
            // 结束时间
            let edu_end_time = $("[name='edu_end_time[]']").map(function () {
                return this.value;
            }).get();
            // 性质
            let edu_property = $("[name='edu_property[]']").map(function () {
                return this.value;
            }).get();
            // 学历
            let edu_level = $("[name='edu_level[]']").map(function () {
                return this.value;
            }).get();
            // 学校名称
            let edu_school_name = $("[name='edu_school_name[]']").map(function () {
                return this.value;
            }).get();
            // 专业
            let edu_major = $("[name='edu_major[]']").map(function () {
                return this.value;
            }).get();
            // 获取工作背景
            let job_start_time = $("[name='job_start_time[]']").map(function () {
                return this.value;
            }).get();
            let job_end_time = $("[name='job_end_time[]']").map(function () {
                return this.value;
            }).get();
            let job_category = $("[name='job_category[]']").map(function () {
                return this.value;
            }).get();
            let job_company = $("[name='job_company[]']").map(function () {
                return this.value;
            }).get();
            let job_content = $("[name='job_content[]']").map(function () {
                return this.value;
            }).get();
            let job_salary = $("[name='job_salary[]']").map(function () {
                return this.value;
            }).get();
            let job_reterence = $("[name='job_reterence[]']").map(function () {
                return this.value;
            }).get();
            // 获取家庭信息
            let family_relate = $("[name='family_relate[]']").map(function () {
                return this.value;
            }).get();
            let family_name = $("[name='family_name[]']").map(function () {
                return this.value;
            }).get();
            let family_company = $("[name='family_company[]']").map(function () {
                return this.value;
            }).get();
            let family_phone = $("[name='family_phone[]']").map(function () {
                return this.value;
            }).get();
            // 整理教育记录
            let education = [];
            for (let i = 0; i < edu_start_time.length; i++) {
                education.push({
                    start_time: edu_start_time[i],
                    end_time: edu_end_time[i],
                    property: edu_property[i],
                    level: edu_level[i],
                    school_name: edu_school_name[i],
                    major: edu_major[i],
                })
            }
            // 整理工作记录
            let work = [];
            for (let i = 0; i < job_start_time.length; i++) {
                work.push({
                    start_time: job_start_time[i],
                    end_time: job_end_time[i],
                    category: job_category[i],
                    company: job_company[i],
                    content: job_content[i],
                    salary: job_salary[i],
                    reterence: job_reterence[i],
                })
            }
            // 整理家庭信息
            let family = [];
            for (let i = 0; i < family_relate.length; i++) {
                family.push({
                    relate: family_relate[i],
                    name: family_name[i],
                    company: family_company[i],
                    phone: family_phone[i],
                })
            }
            $.ajax({
                url: "{{ path("candidate/save") }}",
                type: "post",
                dataType: "json",
                data: {
                    name: $("#name").val(),
                    sex: $("#sex").val(),
                    nation: $("#nation").val(),
                    birth_place: $("#birth_place").val(),

                    birthday: $("#birthday").val(),
                    phone: $("#phone").val(),
                    address: $("#address").val(),

                    working_life: $("#working_life").val(),
                    hunyin: $("[name=hunyin]:checked").val(),
                    shengyu: $("[name=shengyu]:checked").val(),

                    education: education,
                    work: work,
                    family: family,

                    job_name: $("#job_name").val(),
                    job_property: $("#job_property").val(),
                    my_level: $("#my_level").val(),
                    salary_require: $("#salary_require").val(),
                    come_time: $("#come_time").val(),
                },
                success: function (res) {
                    console.log(res);
                    if (res.status === 1) {
                        toastr.success(res.info);
                    } else {
                        toastr.error(res.info);
                    }
                },
                error: function () {

                }
            });
        });
    })
</script>
</html>