<!doctype html>
<html lang="cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>西洋汇招聘管理后台</title>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <style>
        .container-fluid {
            max-width: 1400px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">西洋汇招聘</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">首页</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin') }}">管理后台</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="card my-3">
        <div class="card-body">
            <form action="{{ path('admin') }}" method="get">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label">姓名：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" value="{{ keyword.name }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label">应聘职位：</label>
                            <div class="col-sm-8">
                                <select name="job" class="form-control" title="">
                                    <option value="--">--</option>
                                    <option value="PHP工程师">PHP工程师</option>
                                    <option value="前端工程师">前端工程师</option>
                                    <option value="全栈工程师">全栈工程师</option>
                                    <option value="大数据分析">大数据分析</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label for="name" class="col-sm-4 col-form-label">姓名排序：</label>
                            <div class="col-sm-8">
                                <select name="sort" class="form-control" title="">
                                    <option value="默认">默认</option>
                                    <option value="升序">升序</option>
                                    <option value="降序">降序</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header">
            共有<span class="badge badge-secondary">{{ size }}</span>条记录
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>应聘职位</th>
                    <th>应聘性质</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>生日</th>
                    <th>学历</th>
                    <th>毕业学校</th>
                    <th>状态</th>
                    <th>投递/面试时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.job_name }}</td>
                        <td>{{ item.job_property }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.sex }}</td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.birthday }}</td>
                        <td>{{ item.education.level }}</td>
                        <td>{{ item.education.school_name }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>
                            <a href="{{ item.edit_url }}"
                               class="btn btn-info btn-sm">修改</a>
                            <button type="button" class="btn btn-danger btn-sm delete-btn-js"
                                    data-id="{{ item._id }}">
                                删除
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="text-center">
        <p>Copyright@2018</p>
    </footer>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(function () {
        $(".delete-btn-js").click(function () {
            console.log($(this).data("id"));
            $.ajax({
                url: "{{ path('candidate/delete') }}",
                type: "post",
                dataType: "json",
                data: {
                    id: $(this).data("id"),
                },
                success: function (res) {
                    console.log(res);
                    if (res.status === 1) {
                        toastr.success(res.info);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    }
                },
                error: function () {

                }
            });
        })
    })
</script>
</html>